{% spaceless %}
<!DOCTYPE html>
<html>
<head>
  {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  <title>{% block title %}{{ title }}{% endblock %} - Ridibooks CMS</title>

  {% block style %}
    <link rel="stylesheet" href="{{ asset('commons.css') }}">
  {% endblock %}

  {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/@ridi/cms-ui@0.3/dist/cms-ui.var.js"></script>
    <script src="{{ asset('commons.js') }}"></script>
  {% endblock %}
</head>
<body>
  <div id="menu_container"></div>

  <script>
    (function renderMenu() {
      var menuComponent = CmsUi.Menu;
      var menuProps = {
        items: {{ menus|json_encode|raw }}
      };
      var menuElement = CmsUi.createElement(menuComponent, menuProps);
      var menuContainer = document.getElementById('menu_container');

      CmsUi.render(menuElement, menuContainer);
    })();
  </script>

  <div>
    <h3>{{ block('title') }}</h3>
    <hr>
  </div>

  {% for type, messages in app.flashes %}
    {% for message in messages %}
      <div class="alert alert-{{ type }} alert-dismissible" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}

  <div id="content"></div>

  {% block bottom_script %}
  {% endblock %}
</body>
</html>
{% endspaceless %}
