{% spaceless %}
<!DOCTYPE html>
<html>
<head>
  {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  <title>{% block title %}{{ title }}{% endblock %} - Ridibooks CMS</title>

  {% block style %}
    <link rel="stylesheet" href="{{ asset('commons.css') }}">
  {% endblock %}

  {% block script %}
    <script src="{{ asset('commons.js') }}"></script>
  {% endblock %}
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-lg-2">
        {% include 'left_menu_new.twig' %}
      </div>

      <div class="col-xs-12 col-lg-10">
        <h3>{{ block('title') }}</h3>
        <hr>

        {% for type, messages in app.flashes %}
          {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endfor %}

        <div id="content"></div>
      </div>
    </div>
  </div>

  {% block bottom_script %}
  {% endblock %}
</body>
</html>
{% endspaceless %}
