<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{{ title }}{% endblock %} - Ridibooks CMS</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {% if BASE_HREF %}
    <base href="//{{ BASE_HREF }}"/>
  {% endif %}

  <style>
    .DEV_environment_ribbon, .STAGING_environment_ribbon {
      position: fixed; left: -30px; top: 10px; z-index: 99999;
      width: 100px; height: 24px; margin: 0; padding: 0;
      line-height: 25px; text-align: center;
      font-size: 14px; font-weight: 700; color: white; letter-spacing: 0;

      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);

      box-shadow: 0 2px 2px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3);
      -moz-box-shadow: 0 2px 2px rgba(0,0,0,.3);
    }
    .DEV_environment_ribbon{
      background: #5fce0c;
    }
    .STAGING_environment_ribbon {
      background: #e74c3c; font-size: 11px;
    }
  </style>

  {% block style %}
  {% endblock %}

  <link rel="stylesheet" href="{{ STATIC_URL }}/css/admin/admin.css">
  <link rel="stylesheet" href="{{ asset('commons.css') }}">
  
  <script src="{{ asset('commons.js') }}"></script>
</head>
<body>

{% if ENV_NAME and ENV_NAME != 'REAL' %}
  <div class="{{ ENV_NAME }}_environment_ribbon">{{ ENV_NAME }}</div>
{% endif %}

<div class="container-fluid marginBottom30 marginTop20">
  {# Internet Explorer 브라우저로 접속시 경고 출력 #}
  <div hidden class="col-xs-push-8" id="js_ie_alert" style="position: fixed; z-index: 10; opacity: 0.75;">
    <div class="alert alert-danger">
      <strong>경고!</strong> Internet Explorer 에서는 일부 기능이 정상적으로 작동하지 않을 수 있습니다. <a
        href="https://www.google.co.kr/chrome/browser/desktop/" class="alert-link">Chrome 브라우저</a>를 사용해주세요.
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-2">
      <div class="panel panel-default hidden-xs hidden-sm hidden-md" style="padding: 10px;">{#데스크탑 사이즈#}
        <h4>Ridibooks CMS</h4>
        <select class="form-control menu_select">
          <option value="/super/users">유저관리</option>
          <option value="/super/tags">태그관리</option>
          <option value="/super/menus">메뉴관리</option>
          <option value="/super/logs">변경이력</option>
        </select>

        <h5 style="margin: 10px 15px;"><a data-toggle="collapse" data-target="#drilldown-123">CMS 관리 - 퍼포먼스팀</a></h5>
        <ul class="nav nav-pills nav-stacked">
          <ul id="drilldown-123" class="nav nav-pills nav-stacked collapse in" style="padding-left: 15px;">
            <li><a href="/super/users">유저관리</a></li>
            <li><a href="/super/tags">태그관리</a></li>
            <li><a href="/super/menus">메뉴관리</a></li>
            <li><a href="/super/logs">변경이력</a></li>
          </ul>
        </ul>
        <hr style="margin: 0;"/>
        <ul class="nav nav-pills nav-stacked" style="padding-left: 15px;">
          <li><a href="/super/logout">Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-lg-10">
      <ul>
        <li><h3>{{ block('title') }}</h3></li>
        {% if purpose %}
          <li>사용목적: {% block purpose %}{% endblock %}</li>
        {% endif %}
        {% if usage %}
          <li>사용방법: {% block usage %}{% endblock %}</li>
        {% endif %}
      </ul>
      <hr>

      {% for type, messages in app.flashes %}
        {% for message in messages %}
          <div class="alert alert-{{ type }} alert-dismissible" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endfor %}

      <div id="content">
      </div>
      {% block body %}
      {% endblock %}
    </div>
  </div>
</div>

{% block script %}
{% endblock %}
</body>
</html>
